

.content-page {
    text-align: center;
    padding: 20px;
    
  }
  h2{
    font-size: 40px;
    color: white;
    
    
  
  }
 
  p {
    font-size: 21px;
    margin-bottom: 20px;
    color: white;
    
  }
  
  button1 {
    padding: 10px 20px;
    font-size: 18px;
    background-color: deeppink;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
  }
  
  button1:hover {
    background-color: #0056b3;
  }
  