
.page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: blue;
  }
  
  .content {
    flex: 1;
    margin-right: 20px; 
  }
  
  .form {
    flex: 1;
  }
  